<h3>Search FANDB</h3>

<form method="GET" action="/teams">
    <label for="teamSearch">Search Teams:</label>
    <input type="text" id="teamSearch" placeholder="enter your search..." name ="teamSearch" />
    
    <!-- <input type="number" name="number"/> demo -->

    <input type="submit" />

</form>


<form method="GET" action="/leagues">
    <label for="leagueSearch">Search Leagues by name OR country:</label>
    <input type="text" id="leagueSearch" placeholder="enter your search..." name ="leagueSearch" />
    
    <!-- <input type="number" name="number"/> demo -->

    <input type="submit" />

</form>